.landing-page-container {
    /* background: radial-gradient(circle, rgb(230, 190, 200), rgb(200, 160, 120)); */
    background: radial-gradient(circle, rgba(0,10,20, 0.9), rgba(0,0,0,0.5)), url("https://www.iliketowastemytime.com/sites/default/files/Evergreen-Mountain-Lookout-Sunset-by-Michael-Matti.jpg");
    color: white;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
}

div {
    transition: all 0.5s;
}

.sidebar {
    background: radial-gradient(circle, rgb(50,50,50), rgb(30,30,30));
}

.sidebar-top-panel {
    background: rgb(50,50,50);
}

.map-point-li {
    display: inline-block;
    background: rgb(70,70,70);
    transition: all 0.5s;
    border: 1px solid transparent;
}

.map-point-li:hover {
    border-left: 2rem solid orange;
}

.mapbox-embed {
    background: white;
    color: darkslategray;
}

.mapboxgl-canvas {
    position: inherit !important;
}

.save-mappoint-button {
    font-size: 1.8rem;
    font-weight: bold;
}

.info-readout {
    height: auto;
}

.info-readout-hidden {
    height: 0;
}